In [23]:
import pandas as pd
from sqlalchemy import create_engine

In [24]:
csvfile = "../resources/ca_offenses_by_county.csv"

In [25]:
offense_df = pd.read_csv(csvfile, encoding="ISO-8859-1")

In [26]:
offense_df.head()

,Metropolitan/Nonmetropolitan,County,Violent crime,Murder and nonnegligent manslaughter,Rape (revised definition),Rape(legacy definition),Robbery,Aggravated assault,Property crime,Burglary,Larceny-theft,Motor vehicle theft,Arson
0,Metropolitan Counties,Alameda,510,6.0,13.0,NaN,177,314,"2,077",463,985,629,11.0
1,Metropolitan Counties,Butte3,155,4.0,20.0,NaN,14,117,"1,422",708,693,21,0.0
2,Metropolitan Counties,Contra Costa,426,14.0,24.0,NaN,153,235,"2,013",660,"1,332",21,18.0
3,Metropolitan Counties,El Dorado3,252,9.0,46.0,NaN,32,165,"2,031",577,"1,412",42,4.0
4,Metropolitan Counties,Fresno,962,8.0,32.0,NaN,112,810,"3,810","1,398","1,838",574,145.0

In [42]:
#remove metro column
offense_df.drop("Metropolitan/Nonmetropolitan", axis=1)
offense_df

,Metropolitan/Nonmetropolitan,County,Violent crime,Murder and nonnegligent manslaughter,Rape (revised definition),Rape(legacy definition),Robbery,Aggravated assault,Property crime,Burglary,Larceny-theft,Motor vehicle theft,Arson
0,Metropolitan Counties,Alameda,510,6.0,13.0,NaN,177,314,"2,077",463,985,629,11.0
1,Metropolitan Counties,Butte3,155,4.0,20.0,NaN,14,117,"1,422",708,693,21,0.0
2,Metropolitan Counties,Contra Costa,426,14.0,24.0,NaN,153,235,"2,013",660,"1,332",21,18.0
3,Metropolitan Counties,El Dorado3,252,9.0,46.0,NaN,32,165,"2,031",577,"1,412",42,4.0
4,Metropolitan Counties,Fresno,962,8.0,32.0,NaN,112,810,"3,810","1,398","1,838",574,145.0
5,Metropolitan Counties,Imperial3,219,0.0,6.0,NaN,7,206,625,202,395,28,21.0
6,Metropolitan Counties,Kern,"2,235",31.0,157.0,NaN,360,"1,687","9,903","3,243","4,777","1,883",300.0
7,Metropolitan Counties,Kings3,122,2.0,16.0,NaN,9,95,470,193,265,12,5.0
8,Metropolitan Counties,Los Angeles,"5,173",98.0,304.0,NaN,"1,212","3,559","16,301","3,739","8,359","4,203",215.0
9,Metropolitan Counties,Madera,334,1.0,18.0,NaN,26,289,"1,252",556,686,10,4.0
10,Metropolitan Counties,Marin,95,3.0,5.0,NaN,20,67,746,189,554,3,4.0
11,Metropolitan Counties,Merced,432,10.0,20.0,NaN,30,372,"1,605",596,955,54,10.0
12,Metropolitan Counties,Monterey,244,5.0,31.0,NaN,48,160,"1,246",347,872,27,12.0
13,Metropolitan Counties,Napa,79,1.0,13.0,NaN,3,62,278,107,170,1,0.0
14,Metropolitan Counties,Orange,213,2.0,12.0,NaN,28,171,"1,265",244,879,142,11.0
15,Metropolitan Counties,Placer,299,4.0,20.0,NaN,36,239,"1,659",454,"1,163",42,4.0
16,Metropolitan Counties,Riverside,885,12.0,38.0,NaN,172,663,"7,680","1,880","4,321","1,479",18.0
17,Metropolitan Counties,Sacramento,"3,117",37.0,155.0,NaN,"1,026","1,899","11,164","3,690","7,348",126,31.0
18,Metropolitan Counties,San Benito,41,1.0,4.0,NaN,4,32,173,57,106,10,0.0
19,Metropolitan Counties,San Bernardino,920,18.0,91.0,NaN,141,670,"5,527","1,719","2,583","1,225",62.0
20,Metropolitan Counties,San Diego,"1,161",10.0,110.0,NaN,161,880,"4,784","1,153","2,843",788,41.0
21,Metropolitan Counties,San Joaquin,845,5.0,18.0,NaN,161,661,"3,564","1,039","2,381",144,30.0
22,Metropolitan Counties,San Luis Obispo3,324,3.0,17.0,NaN,15,289,"1,347",461,873,13,3.0
23,Metropolitan Counties,San Mateo,330,3.0,53.0,NaN,90,184,"2,796",467,"1,953",376,15.0
24,Metropolitan Counties,Santa Barbara,266,2.0,29.0,NaN,32,203,"1,676",511,"1,152",13,12.0
25,Metropolitan Counties,Santa Clara,232,4.0,36.0,NaN,24,168,"1,358",261,899,198,3.0
26,Metropolitan Counties,Santa Cruz,295,0.0,25.0,NaN,40,230,"1,935",604,"1,323",8,15.0
27,Metropolitan Counties,Shasta,697,3.0,69.0,NaN,26,599,958,423,489,46,23.0
28,Metropolitan Counties,Solano,101,3.0,7.0,NaN,14,77,404,186,176,42,9.0
29,Metropolitan Counties,Sonoma,638,5.0,73.0,NaN,58,502,"1,468",517,937,14,19.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2562,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2563,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2564,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2565,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2566,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2567,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2568,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2569,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2570,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2571,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2572,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2573,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2574,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2575,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2576,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2577,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2578,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2579,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2580,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2581,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2582,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2583,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2584,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2585,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2586,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2587,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2588,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2589,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2590,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2591,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [43]:
#Extract only the 3 counties needed
counties_list = ['Los Angeles', 'Ventura', 'Orange']
county = offense_df[offense_df['County'].isin(counties_list)].copy()

In [44]:
fips = [6037, 6059, 6111]

In [45]:
county['FIPS'] = fips

In [46]:
county.head()

,Metropolitan/Nonmetropolitan,County,Violent crime,Murder and nonnegligent manslaughter,Rape (revised definition),Rape(legacy definition),Robbery,Aggravated assault,Property crime,Burglary,Larceny-theft,Motor vehicle theft,Arson,FIPS
8,Metropolitan Counties,Los Angeles,"5,173",98.0,304.0,NaN,"1,212","3,559","16,301","3,739","8,359","4,203",215.0,6037
14,Metropolitan Counties,Orange,213,2.0,12.0,NaN,28,171,"1,265",244,879,142,11.0,6059
33,Metropolitan Counties,Ventura,169,3.0,32.0,NaN,16,118,849,236,530,83,15.0,6111

In [48]:
county.columns = ['county', 'metro/nonmetro','violent_crime', 'murder', 'rape','rape_legacy','robbery','assault','property_crime','burglary','larceny','vehicle_theft','arson', 'fips']

In [40]:
county.head()

,county,metro/nonmetro,violent_crime,murder,rape,rape_legacy,robbery,assault,property_crime,burglary,larceny,vehicle_theft,arson,fips
8,Metropolitan Counties,Los Angeles,"5,173",98.0,304.0,NaN,"1,212","3,559","16,301","3,739","8,359","4,203",215.0,6037
14,Metropolitan Counties,Orange,213,2.0,12.0,NaN,28,171,"1,265",244,879,142,11.0,6059
33,Metropolitan Counties,Ventura,169,3.0,32.0,NaN,16,118,849,236,530,83,15.0,6111

In [50]:
#Set county as index
county.set_index('county')

,metro/nonmetro,violent_crime,murder,rape,rape_legacy,robbery,assault,property_crime,burglary,larceny,vehicle_theft,arson,fips
county,,,,,,,,,,,,,
Metropolitan Counties,Los Angeles,"5,173",98.0,304.0,NaN,"1,212","3,559","16,301","3,739","8,359","4,203",215.0,6037
Metropolitan Counties,Orange,213,2.0,12.0,NaN,28,171,"1,265",244,879,142,11.0,6059
Metropolitan Counties,Ventura,169,3.0,32.0,NaN,16,118,849,236,530,83,15.0,6111

In [34]:
county.columns

Index(['county', 'metro/nonmetro', 'violent_crime', 'murder', 'rape',
       'rape_legacy', 'robbery', 'assault', 'property_crime', 'burglary',
       'larceny', 'vehicle_theft', 'arson', 'fips'],
      dtype='object')

In [35]:
engine = create_engine('postgresql://postgres:postgres@localhost:5432/etl_project')
print(engine)

Engine(postgresql://postgres:***@localhost:5432/etl_project)

In [36]:
# Use Pandas To Load CSV converted DataFrame into database
offense_df.to_sql(name='etl_project', con=engine, if_exists='append', index=True, index_label='id')

KeyError: 'Rape (revised definition'

In [38]:
# Check For Tables
engine.table_names()

['properties_selected', 'etl_project']

In [37]:
pd.read_sql_query('SELECT * FROM offensesbycounty limit 100', con=engine, index_col = 'id').head()

ProgrammingError: (psycopg2.ProgrammingError) relation "offensesbycounty" does not exist
LINE 1: SELECT * FROM offensesbycounty limit 100
                      ^

[SQL: SELECT * FROM offensesbycounty limit 100]
(Background on this error at: http://sqlalche.me/e/f405)