In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
csvfile = "../resources/ca_offenses_by_county.csv"

In [3]:
df = pd.read_csv(csvfile, encoding="ISO-8859-1")

In [4]:
df.head()

,Metropolitan/Nonmetropolitan,County,Violent crime,Murder and nonnegligent manslaughter,Rape (revised definition),Rape(legacy definition),Robbery,Aggravated assault,Property crime,Burglary,Larceny-theft,Motor vehicle theft,Arson
0,Metropolitan Counties,Alameda,510,6.0,13.0,NaN,177,314,"2,077",463,985,629,11.0
1,Metropolitan Counties,Butte3,155,4.0,20.0,NaN,14,117,"1,422",708,693,21,0.0
2,Metropolitan Counties,Contra Costa,426,14.0,24.0,NaN,153,235,"2,013",660,"1,332",21,18.0
3,Metropolitan Counties,El Dorado3,252,9.0,46.0,NaN,32,165,"2,031",577,"1,412",42,4.0
4,Metropolitan Counties,Fresno,962,8.0,32.0,NaN,112,810,"3,810","1,398","1,838",574,145.0

In [5]:
#remove metro column
offense_df = df.drop(["Metropolitan/Nonmetropolitan", "Rape(legacy definition)"], axis=1)
offense_df.head()

,County,Violent crime,Murder and nonnegligent manslaughter,Rape (revised definition),Robbery,Aggravated assault,Property crime,Burglary,Larceny-theft,Motor vehicle theft,Arson
0,Alameda,510,6.0,13.0,177,314,"2,077",463,985,629,11.0
1,Butte3,155,4.0,20.0,14,117,"1,422",708,693,21,0.0
2,Contra Costa,426,14.0,24.0,153,235,"2,013",660,"1,332",21,18.0
3,El Dorado3,252,9.0,46.0,32,165,"2,031",577,"1,412",42,4.0
4,Fresno,962,8.0,32.0,112,810,"3,810","1,398","1,838",574,145.0

In [6]:
#Extract only the 3 counties needed
counties_list = ['Los Angeles', 'Ventura', 'Orange']
county = offense_df[offense_df['County'].isin(counties_list)].copy()

In [7]:
fips = [6037, 6059, 6111]

In [8]:
county['FIPS'] = fips

In [9]:
county.head()

,County,Violent crime,Murder and nonnegligent manslaughter,Rape (revised definition),Robbery,Aggravated assault,Property crime,Burglary,Larceny-theft,Motor vehicle theft,Arson,FIPS
8,Los Angeles,"5,173",98.0,304.0,"1,212","3,559","16,301","3,739","8,359","4,203",215.0,6037
14,Orange,213,2.0,12.0,28,171,"1,265",244,879,142,11.0,6059
33,Ventura,169,3.0,32.0,16,118,849,236,530,83,15.0,6111

In [10]:
county.columns = ['county','violent_crime', 'murder', 'rape', 'robbery','assault','property_crime','burglary','larceny','vehicle_theft','arson', 'fips']

In [11]:
county.head()

,county,violent_crime,murder,rape,robbery,assault,property_crime,burglary,larceny,vehicle_theft,arson,fips
8,Los Angeles,"5,173",98.0,304.0,"1,212","3,559","16,301","3,739","8,359","4,203",215.0,6037
14,Orange,213,2.0,12.0,28,171,"1,265",244,879,142,11.0,6059
33,Ventura,169,3.0,32.0,16,118,849,236,530,83,15.0,6111

In [12]:
county['violent_crime'] = pd.to_numeric(county['violent_crime'].map(lambda x: x.replace(",", "")))

In [13]:
county["robbery"] = pd.to_numeric(county["robbery"].map(lambda x: x.replace(",", "")))

In [14]:
county["property_crime"] = pd.to_numeric(county["property_crime"].map(lambda x: x.replace(",", "")))

In [15]:
county["burglary"] = pd.to_numeric(county["burglary"].map(lambda x: x.replace(",", "")))

In [16]:
county["larceny"] = pd.to_numeric(county["larceny"].map(lambda x: x.replace(",", "")))

In [17]:
county["vehicle_theft"] = pd.to_numeric(county["vehicle_theft"].map(lambda x: x.replace(",", "")))

In [18]:
county["assault"] = pd.to_numeric(county["assault"].map(lambda x: x.replace(",", "")))

In [19]:
county.head()

,county,violent_crime,murder,rape,robbery,assault,property_crime,burglary,larceny,vehicle_theft,arson,fips
8,Los Angeles,5173,98.0,304.0,1212,3559,16301,3739,8359,4203,215.0,6037
14,Orange,213,2.0,12.0,28,171,1265,244,879,142,11.0,6059
33,Ventura,169,3.0,32.0,16,118,849,236,530,83,15.0,6111

In [20]:
county.columns

Index(['county', 'violent_crime', 'murder', 'rape', 'robbery', 'assault',
       'property_crime', 'burglary', 'larceny', 'vehicle_theft', 'arson',
       'fips'],
      dtype='object')

In [21]:
engine = create_engine('postgresql://postgres:postgres@localhost:5432/etl_project')
print(engine)

Engine(postgresql://postgres:***@localhost:5432/etl_project)

In [22]:
# Check For Tables
engine.table_names()

['properties_selected', 'etl_project']

In [25]:
#pd.read_sql_query('SELECT * FROM offensesbycounty limit 100', con=engine, index_col = 'id').head()
county.to_sql(name='offensesbycounty', con=engine, if_exists='append', index=False)