In [1]:
#Import dependencies
import pandas as pd
from sqlalchemy import create_engine

In [2]:
#Import csv file and create dataframe
file = '../resources/ca_law_enforcement_by_county.csv'

force_df = pd.read_csv(file)

force_df.head()

,Metropolitan/Nonmetropolitan,County,Total law enforcement employees,Total officers,Total civilians
0,Metropolitan Counties,Alameda,"1,560",978,582
1,Metropolitan Counties,Butte,288,101,187
2,Metropolitan Counties,Contra Costa,936,610,326
3,Metropolitan Counties,El Dorado,349,164,185
4,Metropolitan Counties,Fresno,"1,043",406,637

In [3]:
#Remove Metro/NonMetro column
cleaner = force_df.drop('Metropolitan/Nonmetropolitan', axis=1)

cleaner.head()

,County,Total law enforcement employees,Total officers,Total civilians
0,Alameda,"1,560",978,582
1,Butte,288,101,187
2,Contra Costa,936,610,326
3,El Dorado,349,164,185
4,Fresno,"1,043",406,637

In [4]:
#Extract only the 3 counties needed
county_list = ['Los Angeles', 'Ventura', 'Orange']
cleaned = cleaner[cleaner['County'].isin(county_list)].copy()

In [5]:
# Setting values for FIPS LA, Orange, Ventura
fips = [6037, 6059, 6111]

In [6]:
cleaned['FIPS'] = fips

In [7]:
cleaned.head()

,County,Total law enforcement employees,Total officers,Total civilians,FIPS
8,Los Angeles,"16,582","9,146","7,436",6037
14,Orange,"3,602","1,778","1,824",6059
34,Ventura,"1,242",732,510,6111

In [8]:
#Set county as index

cleaned.set_index('County')

,Total law enforcement employees,Total officers,Total civilians,FIPS
County,,,,
Los Angeles,"16,582","9,146","7,436",6037
Orange,"3,602","1,778","1,824",6059
Ventura,"1,242",732,510,6111

In [16]:
cleaned.columns = ['county', 'total_employees', 'officers', 'civilians', 'fips']

In [17]:
cleaned.columns

Index(['county', 'total_employees', 'officers', 'civilians', 'fips'], dtype='object')

In [18]:
engine = create_engine('postgresql://postgres:postgres@localhost:5432/etl_project')

In [19]:
engine.table_names()

['forcebycounty']

In [20]:
cleaned.to_sql(name='forcebycounty', con=engine, if_exists='append', index=False)

DataError: (psycopg2.DataError) invalid input syntax for integer: "16,582"
LINE 1: ...officers, civilians, fips) VALUES ('Los Angeles', '16,582', ...
                                                             ^

[SQL: INSERT INTO forcebycounty (county, total_employees, officers, civilians, fips) VALUES (%(county)s, %(total_employees)s, %(officers)s, %(civilians)s, %(fips)s)]
[parameters: ({'county': 'Los Angeles', 'total_employees': '16,582', 'officers': '9,146', 'civilians': '7,436', 'fips': 6037}, {'county': 'Orange', 'total_employees': '3,602', 'officers': '1,778', 'civilians': '1,824', 'fips': 6059}, {'county': 'Ventura', 'total_employees': '1,242', 'officers': '732', 'civilians': '510', 'fips': 6111})]
(Background on this error at: http://sqlalche.me/e/9h9h)