# 2015 Structure Tax Value / Assessment -- Reported in 2016

In [1]:
import pandas as pd
from sqlalchemy import create_engine

Store CSV Into Dataframe

In [2]:
csv_file = "./Resources/properties_2016.csv"
properties_2016_df = pd.read_csv(csv_file)
properties_2016_df.head()

,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,decktypeid,...,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock
0,10754147,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,9.0,2015,9.0,NaN,NaN,NaN,NaN
1,10759547,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,27516.0,2015,27516.0,NaN,NaN,NaN,NaN
2,10843547,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,650756.0,1413387.0,2015,762631.0,20800.37,NaN,NaN,NaN
3,10859147,NaN,NaN,NaN,0.0,0.0,3.0,7.0,NaN,NaN,...,1.0,NaN,571346.0,1156834.0,2015,585488.0,14557.57,NaN,NaN,NaN
4,10879947,NaN,NaN,NaN,0.0,0.0,4.0,NaN,NaN,NaN,...,NaN,NaN,193796.0,433491.0,2015,239695.0,5725.17,NaN,NaN,NaN

Create New Data With Select Columns

In [3]:
selected_columns = ['assessmentyear', 'fips', 'structuretaxvaluedollarcnt']
properties_selected_df = properties_2016_df[selected_columns].copy()
properties_selected_df.head()

   assessmentyear  fips  structuretaxvaluedollarcnt
0            2015  6037                         NaN
1            2015  6037                         NaN
2            2015  6037                    650756.0
3            2015  6037                    571346.0
4            2015  6037                    193796.0

Clean DataFrame

In [4]:
# Process by which the "Not A Number" entry was dropped:
# properties_selected.drop(['NaN'], inplace=True)
# to_drop = [NaN]
# properties_selected[~properties_selected['structuretaxvaluedollarcnt'].isin(to_drop)]
# properties_selected.head()

properties_selected_df.dropna(how='any', inplace=True)
properties_selected_df.head()

   assessmentyear  fips  structuretaxvaluedollarcnt
2            2015  6037                    650756.0
3            2015  6037                    571346.0
4            2015  6037                    193796.0
5            2015  6037                    176383.0
6            2015  6037                    397945.0

Connect To Local Database

In [5]:
engine = create_engine('postgresql://postgres:postgres@localhost:5432/properties_selected_db')
print(engine)

Engine(postgresql://postgres:***@localhost:5432/properties_selected_db)

In [12]:
# Use Pandas To Load CSV converted DataFrame into database
properties_selected_df.to_sql(name='properties_table', con=engine, if_exists='append', index=True, index_label='id')

In [13]:
# Check For Tables
engine.table_names()

['properties_table', 'properties_selected', 'properties_selected_db']

In [17]:
# Confirm Data Has Been Added By Querying The properties_table,
# Note: Can also check using pgAdmin
pd.read_sql_query('SELECT * FROM properties_table limit 100', con=engine, index_col = 'id').head()

   assessmentyear  fips structuretaxvaluedollarcnt
id
2            2015  6037                   650756.0
3            2015  6037                   571346.0
4            2015  6037                   193796.0
5            2015  6037                   176383.0
6            2015  6037                   397945.0